[submodule "LetterVis"]
	path = LetterVis
	url = https://github.com/thevisgroup/LetterVis
[submodule "EHR-STAR"]
	path = EHR-STAR
	url = https://github.com/HenryQW/EHR-STAR
[submodule "EnsembleVis"]
	path = EnsembleVis
	url = https://github.com/thevisgroup/EnsembleVis
